.AboutBox {
  background: white;
  color: black;
  height: 85vh;
  width: calc(100% - 40px);
  max-width: 600px;
  text-align: center;
  position: fixed;
  top: 8%;
  /* left: 30%; */
  border-radius: 12px;
  z-index: 201;
}

.AboutHeader {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  width: 85%;
  border-bottom: 1px solid black;
}

.HeaderPadding {
  padding-top: 25px;
}

.AboutText {
  width: 90%;
  height: 73vh;
  overflow-y: scroll;
  padding-left: 20px;
}
