.Footer {
  display: flex;
  justify-content: center;
  text-align: center;
  color: #ffffff;
  border-top: 1px solid white;
  padding: 40px 0;
  margin-top: 20px;
}

.Footer a {
  font-size: 1.2em;
  text-decoration: none;
  color: white;
}
